// This file will contain the main CSS style for the application

body {
  height: 100%;
  color: #000000;
  font-size: 14px;
  width: 100%;
  margin: 0;
  background: #f4f4f4;
}

#wrapper {
  width: 100%;
}

#wrapper #header {
  height: 50px;
  background-color: #777777;
  border-bottom: 1px dotted darkgray;
}

#wrapper #header .container {
  width: 1060px;
  text-align: center;
  margin: 0 auto;
}

#wrapper #header #main_menu {
  display: inline-block;
  vertical-align: top;
  margin: 0 18px 0 18px;
}

#wrapper #header #main_menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  display: table;
}

#wrapper #header #main_menu ul li {
  font-weight: normal;
  margin: 22px 0 0 0;
  display: inline-block;
  vertical-align: top;
  color: #b3b3b3;
  height: 54px;
  font-size: 18px;
  position: relative;
}


#wrapper #header #main_menu ul li:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  display: inline-block;
  vertical-align: top;
  height: 18px;
  width: 1px;
  background: #5b5b5b;
}

#wrapper #header #main_menu ul li:first-child:after {
  display: none;
}

#wrapper #header #main_menu ul li:before {
  content: "";
  position: absolute;
  top: 2px;
  right: 0;
  display: inline-block;
  vertical-align: top;
  height: 18px;
  width: 1px;
  background: #1f1f1f;
}

#wrapper #header #main_menu ul li:last-child:before {
  display: none;
  border: 1px solid red;
}

#wrapper #header #main_menu ul li.active {
  background: url('/assets/pointer_menu.png') center bottom no-repeat;
}

#wrapper #header #main_menu ul li.active a {
  color: #fff;
}

#wrapper #header #main_menu ul li a {
  display: block;
  padding: 0 10px;
  color: #b3b3b3;
}

#wrapper #header #main_menu ul li a.last_item {
  display: block;
  padding: 0px 0px 0px 14px;
  color: #b3b3b3;
}

#wrapper #header #main_menu ul li a:hover {
  text-decoration: none;
  color: #fff;
}

#wrapper #body_width{
  width: 1060px;
  margin: 0 auto;
}

#wrapper #game_div {
  width: 400px;
  margin: auto;
  margin-top: 50px;
}