<header id="header">
  <div class="container">
    <nav id="main_menu">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Flappy Isaacs", flappy_path %></li>
      </ul>
    </nav>
  </div>
</header>